astunparse==1.6.3
astor
beautifulsoup4==4.12.2
bionty==0.36.0
biotite==0.38.0
biopython==1.81
bitsandbytes==0.41.1
#cellrank==2.0.2
deap==1.4.1
#deepspeed==0.12.0
docstring_parser==0.15
ehrapy==0.6.0
Flask==3.0.0
flask_cors==4.0.0
flask_socketio==5.3.6
fpdf==1.7.2
joblib==1.3.2
jsonargparse==4.27.0
langchain==0.0.330
#lightning==2.0.0
#lightning @ git+https://github.com/Lightning-AI/lightning@master
lxml==4.9.3
matplotlib
medcat==1.10.0
mmtf_python==1.1.3
nbformat==5.9.2
networkx==3.2.1
numpy
openai==1.10.0
pandas
peft==0.6.0
protobuf==3.20.0
pydantic==1.10.7
pydot==1.4.2
pyopenms==3.1.0
PyQt5
pyteomics==4.6.3
python_dotenv
rank_bm25==0.2.2
rdflib==7.0.0
ReportLab
Requests==2.31.0
scikit_bio==0.5.9
scikit_learn
scipy==1.9.2
scvi_tools==1.0.4
seaborn==0.13.0
sentence_transformers==2.2.2
sentencepiece==0.1.99
scanpy==1.9.5
scikit-learn-intelex
scvelo==0.3.1
sphinx_rtd_theme
squidpy==1.3.1
tenacity==8.2.3
tensorboard==2.15.1
timm==0.9.12
torch==2.1.0
torchsummary==1.5.1
tqdm==4.66.1
transformers==4.35.0
typing_extensions==4.8.0
# triton
# scenicplus @ git+https://github.com/aertslab/scenicplus.git
# https://github.com/etetoolkit/ete/archive/ete4.zip

